<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="index-more"
   name="More Indexing Filter"
   version="1.0.0"
   provider-name="nutch.org">

   <extension-point
      id="net.nutch.indexer.IndexingFilter"
      name="Nutch Indexing Filter"/>

   <!--
   <extension-point
      id="net.nutch.searcher.QueryFilter"
      name="Nutch Query Filter"/>
    -->

   <runtime>
      <library name="index-more.jar">
         <export name="*"/>
      </library>
   </runtime>

   <extension id="net.nutch.indexer.more"
              name="Nutch More Indexing Filter"
              point="net.nutch.indexer.IndexingFilter">
      <implementation id="MoreIndexingFilter"
                      class="net.nutch.indexer.more.MoreIndexingFilter"/>
   </extension>

   <!--
   <extension id="net.nutch.searcher.more.MoreQueryFilter"
              name="Nutch More Query Filter"
              point="net.nutch.searcher.QueryFilter">
      <implementation id="MoreQueryFilter"
                      class="net.nutch.searcher.more.MoreQueryFilter"
                      raw-fields="more"/>
   </extension>
   -->

</plugin>
